name: Extreme_System_Pro_Build
on:
  workflow_dispatch: # 讓你可以手動點擊按鈕執行

jobs:
  build_ios:
    name: Build iOS IPA
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Get Dependencies
        run: flutter pub get

      - name: Build IPA
        run: flutter build ios --release --no-codesign

      - name: Export IPA
        run: |
          mkdir -p Payload
          mv build/ios/iphoneos/Runner.app Payload/
          zip -r ExtremePro.ipa Payload
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: ExtremePro_IPA
          path: ExtremePro.ipa
